{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>

    <link rel="stylesheet" href="{% static 'css/styles.css'%}">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<!--FONDO-->
    <div class="ImgLogin">
        <!--FORMULARIO-->
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="container">
              <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                  <div class="card bg-white">
                    <div class="card-body p-5">
                      <form class="mb-3 mt-md-4" action="{% url 'login_app' %}" method="POST" id="log">
                        
                        {% csrf_token %} 
                        <h2 class="fw-bold mb-2">Bienvenido!</h2>
                        <p class=" mb-5">Por favor ingresa tu Correo y Contraseña!</p>
                        <div class="mb-3">
                          <label for="text" class="form-label ">Nombre de usuario</label>
                          <input type="text" class="form-control" id="corre" name="corre" placeholder="Gandalf990">
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label ">Contraseña</label>
                          <input type="password" class="form-control" id="pass" name="pass" placeholder="*******">
                        </div>
                        <p class="small"><a class="text-primary" href="forget-password.html">Olvidaste tu Contraseña?</a></p>
                        <div class="d-grid">
                          <button class="btn btn-outline-dark" type="submit" href="Contacto.html" >Iniciar Sesión</button>
                        </div>
                      </form>
                      <div>
                        <p class="mb-0  text-center">No tienes una Cuenta? <a href="#" class="text-primary fw-bold">Registrate
                            </a></p>
                      </div>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>


<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!--Validaciones-->
<script src="{% static 'js/validaciones/vali_login.js' %} "></script>

</body>
</html>